body{
    font-family:Helvetica Neue, Helvetica, sans-serif;
    background: tomato;
}

.skew-menu{
    text-align:center;
    margin-top:9em;
}

.skew-menu ul{
    display:inline-block;
    margin:0;
    padding:0;
    list-style:none;
}

.skew-menu ul li{
    background:#fff;
    float:left;
    border-right:1px solid #eee;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    text-transform:uppercase;
    color:#555;
    font-weight:bolder;
    transition:all 0.3s linear;
}
.skew-menu a{
    display:block;
    padding:1em 2em;
    color:inherit;
    text-decoration:none;
}

.skew-menu ul li:first-child{
    border-radius: inherit;
}
.skew-menu ul li:last-child{
    border-right:none;
    border-radius:0 10px 0;
}
.skew-menu ul li:hover{
    background:#eee;
    color: #555555;
}








