body {
    margin:0;
    padding:0;
    font-family: Serif Arial;
    line-height: 1.5em;
    background: #555555;
}

header {
    width: 100%;
    height: 100px;
}

nav .story-menu{
    position: fixed;
    z-index: 3;
    width: 50%;
    top: 1em;
    left: 30%;
}

nav ul{
    display:inline-block;
    margin:0;
    padding:0;
    list-style:none;
}

nav ul li{
    background: #ffd400;
    float:left;
    border-right:1px solid #eee;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    text-transform:uppercase;
    color:#555;
    font-weight:bolder;
}

nav a{
    display:block;
    padding:1em 2em;
    color:inherit;
    text-decoration: none;
}

nav ul li:last-child{
    border-right:none;
    border-radius:0 10px 0;
}

nav ul li:hover{
    background:#eee;
    color: #555555;
}

nav a:hover{
    text-decoration: none;
}

main {
    float: left;
    width: 81%;
    margin-left: 2%;
    margin-right: 2%;
}
.story-infor{
    height: 330px;

    margin-bottom: 30px;
}

.story-infor .row{
    margin-bottom: 0;

}

.story-infor .row.picture{
    position: relative;
    margin: 0 10px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.story-infor .row.title{
    color: #f44141;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 50px;
    background: rgba(1,1,1,0.5);
    text-align: center;
}

.picture img{
    border-bottom: 3px solid transparent;
    min-height: 100%;
    min-width: 100%;
}

.picture img:hover{
    border-bottom-color: #f44141;
}

aside {
    background: #fff;
    float: left;
    width: 14%;
    margin-right: 1%;
    text-align: center;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside ul a {
    color: #555;
    text-decoration: none;
}

aside h3{
    background-color: #ffd400;
}

aside h3:first-child{
    margin-top: 0;
}

aside a:hover{
    background:#eee;
    color: #555555;
    text-decoration: none;
}

.next_page{
    clear: both;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 7px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: #353535;
    text-align: center;
    padding: 4px 0;
}





